/*URL estilos de fuentes de googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --gold1:#f4bd76;
    --gold2:#f6cd8f;
    --gray:#ffffff80;
    --gold2:#f7d9d990;
    --black1:#1a1b1f;
    --black2:#30353b;
    --shadow: 0 8px 8px;
    --color_shadow:#00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}
/*Contenedor pie de pagina*/
.container_modifier {
    width: 60%;
}

.cabecera {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black2) 100%);
}
.nav__cabecera {
     color: #fff;
     height: 70px;
     border-bottom: 1px solid rgba(255,255,255, 0.1);
}
/*Definimos se ven los botones de navegacion al princio de la pag.*/
.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name {
    font-size: 24px;
}

.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active {
    color: var(--gold1);
    font-weight: 700;
}

.point {
    color: var(--gold1);
}

.cabecera__main {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0;
}
.logo__img {
    object-fit: cover;
    height: calc(100vh - 70px);
}

.cabecera__textos {
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.titulo--active {
    color: var(--gold1);
    font-weight: 700;
}

.copy {
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy__active {
    font-weight: 700;

}
/*Esto es para definir estilo de un boton.
.cta {
    padding: 20px ;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
} */

/*cards*/

.categorias {
    background: #fafafa;
}

.subtitulos {
    font-size: 42px;
}

.subtitle--modifier {
    text-align: center;
    margin-bottom: 16px;
    


}

